{% extends "base.html" %}

{% block page_title %}Poller stats{% endblock %}}

{% block content %}
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td>Tracked way</td>
          <td>Snapshots count</td>
          <td>Relevance</td>
        </tr>
      </thead>
      <tr class="warning">
        <td>All ways</td>
        <td>{{ snapshots_count }}</td>
        <td>{{ relevance|timesince }}</td>
      </tr>
      {% for tracked_way_stats in tracked_ways %}
      <tr>
        <td>{{ tracked_way_stats.tracked_way }}</td>
        <td>{{ tracked_way_stats.snapshots_count }}</td>
        <td>{{ tracked_way_stats.relevance|timesince }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
