[run]
branch = True
data_file = .coverage_data
source = uztrack/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError

omit =
    */migrations/*.py
    fabfile.py
    celeryapp.py
    uztrack/uztrack/settings/local.py
    uztrack/uztrack/settings/production.py

[html]
directory = coverage_html
