# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# IDE files
.idea/

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# System files
*.DS_Store

# Coverage data
.coverage_data
coverage_html/

# Project files
uztrack/assets/
