# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# IDE files
.idea/

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

*.DS_Store

# Project files
uztrack/assets/