{% extends 'track/base.html' %}

{% load render_table from django_tables2 %}

{% block page_title %}List of regitered tracked ways{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="">Tracked ways</a></li>
{% endblock %}

{% block content %}
  <p class="lead">Repeated tracked ways</p>
  {% render_table table_repeated %}
  <p class="lead">Specific tracked ways</p>
  {% render_table table_nonrepeated %}
  <a class="btn btn-success" href="{% url 'trackedway-create' %}">Create new</a>
{% endblock %}
