{% extends 'track/base.html' %}

{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'cal-heatmap/cal-heatmap.css' %}">
  <link rel="stylesheet" href="{% static 'css/trackedway_detail.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'highcharts/highstock.js' %}"></script>
  <script src="{% static 'js/angular.js' %}"></script>
  <script src="{% static 'bootstrap/js/ui-bootstrap.js' %}"></script>
  <script src="{% static 'bootstrap/js/ui-bootstrap-tpls.js' %}"></script>
  <script src="{% static 'd3.v3/d3.v3.js' %}"></script>
  <script src="{% static 'cal-heatmap/cal-heatmap.js' %}"></script>
  <script src="{% static 'js/trackedway_detail.js' %}"></script>
  <script>
    myApp.constant('urls', {
      histories: "{% url 'api-histories-list' %}",
      snapshots: "{% url 'api-snapshots-list' %}",
    });
  </script>
{% endblock %}

{% block content %}
  <div class ng-app="myApp" ng-controller="WayDetailCtrl">
    {% with way=tracked_way.way %}
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <accordion close-others="false">
          <accordion-group heading="Tracked way details" is-open="true">
            <p class="lead">Way: {{ way }}</p>
            <p class="lead">Days: {{ tracked_way.selected_weekdays|join:',' }}</p>
            <div ng-if="dayHistory != null">
              {% verbatim %}
              <a href="{{ dayHistory.date|date:'yyyy-MM-dd' }}" class="btn btn-success pull-right">Details</a>
              <p>For {{ dayHistory.date|date:"longDate" }}, Last update: {{ dayHistory.lastSnapshot.date|ago }}</p>
              {% endverbatim %}
            </div>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <p class="panel-heading">Days</p>
          <heatmap id="heatmap" histories="dayHistories"></heatmap>
        </div>
        <div class="panel-group histories">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <accordion close-others="oneAtTime">
          <accordion-group heading="Day history" is-open="dayHistory != null">
            <chart id="chart"></chart>
          </accordion-group>
        </accordion>
      </div>
    </div>
  {% endwith %}
{% endblock %}
