{% extends 'track/base.html' %}

{% load staticfiles %}
{% load track %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'cal-heatmap/cal-heatmap.css' %}">
  <link rel="stylesheet" href="{% static 'css/trackedway_detail.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'highcharts/highstock.js' %}"></script>
  <script src="{% static 'js/angular.js' %}"></script>
  <script src="{% static 'bootstrap/js/ui-bootstrap.js' %}"></script>
  <script src="{% static 'bootstrap/js/ui-bootstrap-tpls.js' %}"></script>
  <script src="{% static 'd3.v3/d3.v3.js' %}"></script>
  <script src="{% static 'cal-heatmap/cal-heatmap.js' %}"></script>
  <script src="{% static 'js/trackedway_detail.js' %}"></script>
  <script>
    // Histories data
    var historiesCalendarData = {
    {% for history in tracked_way.histories.all %}
      {% with last_snapshot=history.last_snapshot %}
        {% if last_snapshot %}
          '{{ history.departure_date|date:'U' }}': {{ last_snapshot.total_places_count }},
        {% endif %}
      {% endwith %}
    {% endfor %}
    };
  </script>
{% endblock %}

{% block content %}
  <div class="trackedway">
    {% with way=tracked_way.way %}
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item trackedway-station">
            <span class="badge">
              <span class="glyphicon glyphicon-time"></span>
              {{ tracked_way.start_time|date:"G:i" }} - &infin;
            </span>
            <p class="lead">{{ way.station_from }} <span class="glyphicon glyphicon-arrow-right"></span></p>
          </li>
          <li class="list-group-item trackedway-station">
            <span class="badge">
              <span class="glyphicon glyphicon-time"></span>
              {{ tracked_way.start_time|date:"G:i" }} - 19:00
            </span>
            <p class="lead">{{ way.station_to }} <span class="glyphicon glyphicon-arrow-left"></span></p>
          </li>
          <li class="list-group-item">
            <ul class="pagination pagination daysbar">            
            {% for day_name, enabled in tracked_way.days.items %}
              <li {% if not enabled %}class="disabled"{% endif %}><a>{{ day_name|short_day_name }}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li class="list-group-item">
            <div class="btn-group btn-group-justified">
              <a href="{{ tracked_way.get_edit_url }}" class="btn btn-success">Edit</a>
              <a href="{{ tracked_way.get_delete_url }}" class="btn btn-info">Delete</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="cal-heatmap"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <table class="table table-hover trackedway-histories">
            <thead>
              <tr>
                <th class="col-md-1">Day</th>
                <th>Date</th>
                <th>Seats</th>
                <th class="col-md-5">Relevance</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for history in tracked_way.histories.all %}
              {% with day_name=history.departure_date|date:"l"|short_day_name %}
              <tr>
                <td>
                  {% with label_class=day_name|lower %}
                  <div class="daylabel daylabel-{{label_class}}">
                    {{ day_name }}
                  </div>
                  {% endwith %}
                </td>
                <td>{{ history.departure_date|date:"F, jS" }}</td>
                {% with last_snapshot=history.last_snapshot %}
                <td>
                  <p class="lead">
                    {% if last_snapshot %}{{ last_snapshot.total_places_count }}
                    {% else %}unknown{% endif %}
                  </p>
                </td>
                {% endwith %}
                <td>
                  <div class="progress">
                    {% with relevance=history.relevance %}
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ relevance.1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ relevance.1 }}%;">{{ history.last_snapshot.made_on|timesince }} ago</div>
                    {% endwith %}
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-success">Subscribe</a>
                    <a href="{{ history.get_absolute_url }}" class="btn btn-primary">Details</a>
                  </div>
                </td>
              </tr>
              {% endwith %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endwith %}
  </div>
{% endblock %}
