#cal-heatmap {
    margin-bottom: 15px;
}

#cal-heatmap .subdomain-text {
    font-size: 10px;
}
.q0 {

}
.q1 {

}

.trackedway .trackedway-station .badge {
    margin-top: 4px;
}
.trackedway .trackedway-station p.lead {
    margin-bottom: 0;
}
.trackedway .trackedway-histories tbody tr td {
    vertical-align: middle;
}
.trackedway .trackedway-histories tbody tr td .lead {
    margin: 0;
}
.trackedway .trackedway-histories .history-hidden .code {
    margin-top: 0;
    margin-bottom: 0;
}
.trackedway .trackedway-histories .history-hidden .seats {
    margin-bottom: 0;
    padding-left: 20px;
}
.trackedway .trackedway-histories .history-hidden .list-group {
    margin-bottom: 0;
}
.history .date {
    color: #2a6496;
}

.daysbar {
    margin: 0 0 -5px 0;
}
.daysbar li {
    text-indent: -3px;
}
.daysbar li a {
    width: 47px;
    text-align: center;
}
