#cal-heatmap {
    margin-top: 20px;}

#cal-heatmap .subdomain-text {
    font-size: 10px;
}

.trackedway .trackedway-station .badge {
    margin-top: 4px;
}
.trackedway .trackedway-station p.lead {
    margin-bottom: 0;
}
.trackedway .trackedway-histories tbody tr td {
    vertical-align: middle;
}
.trackedway .trackedway-histories tbody tr td .lead {
    margin: 0;
}

.daysbar {
    margin: 0 0 -5px 0;
}
.daysbar li {
    text-indent: -3px;
}
.daysbar li a {
    width: 47px;
    text-align: center;
}

.daylabel {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 7px;
    margin: 2px;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    line-height: 23px;
}

.daylabel-mo {background-color: #5cb85c;}
.daylabel-tu {background-color: #5bc0de;}
.daylabel-fr {background-color: #428bca;}
.daylabel-we {background-color: #f0ad4e;}
.daylabel-th {background-color: #d9534f;}
.daylabel-su {background-color: #d9534f;}
.daylabel-sa {background-color: #d9534f;}
